*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    overflow-y: hidden
}

.container{
    width: 90%;
    min-height: 100%;
    margin: 0 auto;
/*
    border-left: 1px solid black;
    border-right: 1px solid black; 
*/
}
.header{
    height: 60px;
/*    background-color: aqua;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.section{
    height: 100vh;
    padding-top: 70px;
}
#home{
/*    background-color: lightblue;*/
/*    background-image: url(photos/bg-man-laptop.jpg);*/
/*    background-size: cover;*/
}
#about{
    background-color: lightcoral;
}
#works{
    background-color: lightgreen;
}
#contact{
    background-color: lightgray;
}
.logo{
    width: 20%;
/*    background-color: palegoldenrod*/
}
.menu{
    width: 50%;
/*    background-color: hotpink;*/
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-link, .menu-link{
    text-decoration: none; /*Нижнє підкреслення*/
    color: white;
    text-shadow: 0 1px 1px black;
    font-size: 20px;
    font-family: cursive;
}
#spb{
    text-decoration: none; /*Нижнє підкреслення*/
    color: white;
}
.map{
    width: 50%;
    height: 90vh;
}
.form{
    width: 50%;
    height: 90vh;
    background-color: lightsalmon;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/*----------------------------------------------------------------------------------------*/
body{
    background: gold;
    text-align: center;
}
button{
    background: blue;
    color: chartreuse;
    border-radius: 7px;
    width: 140px;
    height: 40px;
}

.header {
    height: 80px;
}
.content {
	margin: 0px auto;
    border-color: black;
    height: 68vh;
/*    background: green;*/
}
.clearfix::after, .clearfix::before {
    content: '';
    display: block;
    clear: both;
}
.left {
    height: 60vh;
    width: 50%;
    float: left;
    padding: 0;
}
.right {
    height: 70%;
    width: 50%;
    float: left;
}

#videoElement {
	width: 640px;
	height: 480px;
    background-image: url(photos/camera.png);
}
#control_panel {
    margin: 0px auto;
    width: 40%;
    height: 10%;
}
canvas {
  border: solid 1px #999;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath fill-rule="evenodd" d="M0 0h4v4H0V0zm4 4h4v4H4V4z"/%3E%3C/g%3E%3C/svg%3E');
}
/*---------------------------------------------------------------------------------------------------------------------*/
canvas {
  border: solid 1px #999;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath fill-rule="evenodd" d="M0 0h4v4H0V0zm4 4h4v4H4V4z"/%3E%3C/g%3E%3C/svg%3E');
}
.red {
  color: red;
}
.todo {
  border: dashed 1px red;
}

p {
  margin: 5px 0 3px;
}

.card {
  margin: 15px 5px;
}

input[type="range"] {
  vertical-align: middle;
}
#imgf{
    max-width: 90%;
}